<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= title %></h1>
    <p>
        <%= content %>
    </p>
    <hr>
        <h3>Contact with:</h3>
        <ul>
            <li>
                <%- person.firstname %>
            </li>
            <li>
                <%- person.lastname %>
            </li>
            <strong>
                <%- person.location.city %> <%- person.location.country %>
            </strong>
            <marquee behavior="" direction="">contact page</marquee>
</body>
</html>